<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script>

function goPrint() {

    document.getElementById("print").style.visibility = "hidden";
	window.print();
    document.getElementById("print").style.visibility = "visible";
}
</script>
<body>
	<img src="./images/soyLider.png" width="450px"/>
    <br/>  
    <p><b>Hello DevOps colleague please confirm your data:</b></p>
    <div><b>* First name:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    		<label th:text="${firstName}"></label>
    	</div>
    	<br/>  
    	<div><b>* Middle name:</b>&nbsp;&nbsp;
    		<label th:text="${middleName}"></label>
    	</div>
    	<br/>  
    	<div><b>* Last name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
    		<label th:text="${lastName}"></label>
    	</div>
    	<br/> 
    	
    	<div>
    		<input type="button" id="print" name="print" value="print" onclick="goPrint();">
    	</div>   
    		
	<img src="./images/certiprof-large.png"/>
</body>
</html>