<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="./js/jquery.js"></script>
	<link rel="stylesheet" href="./css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="./css/style.css" type="text/css"> 
</head>
<script>

function goPrint() {

	$("#print").hide();
	window.print();
	$("#print").show();
}
</script>
<body>
<div class="row">
	<div class="col">
		<div class="gray-backg" >			
			<div class="form-group" style="align-content: center;"> 
				<div class="col">
					<div class="form-group row">
						<div class="col-md-3">
							&nbsp;
						</div>
						<div class="col-md-1">
							<img src="./images/soyLider.png" width="450px"/>
						</div>
						<div class="col-md-2">
							&nbsp;
						</div>
				    </div>  
				    
				    
				    <div class="form-group row">
				    	<div class="col-md-3">
							&nbsp;
						</div>
					    <div class="col-md-8">
					    <b>Please enter your personal information.</b>
					    </div>
					</div>
				    
				    <div class="row">
				    	<div class="col-md-4">
							&nbsp;
						</div>
					    <div class="col-md-8">
					    	<div class="form-group row">
					    		<b>* First name:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					    		<label th:text="${firstName}"></label>
					    	</div>  
					    	<div class="form-group row">
								<b>* Middle name:</b>&nbsp;&nbsp;
					    		<label th:text="${middleName}"></label>
					    	</div>
					    	<div class="form-group row">
								<b>* Last name:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					    		<label th:text="${lastName}"></label>
					    	</div>
					    	<div class="form-group row">
								<b>* Birth date:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					    		<label th:text="${birthDate}"></label>
					    	</div>
					    	<div class="form-group row" style="padding-left: 50px">
					    		<input type="button" id="print" name="print" value="Print" class="form-control col-md-2"  onclick="goPrint();">
					    	</div>
					    </div>
				    </div>
				        
					<div class="form-group row">
						<div class="col-md-3">
							&nbsp;
						</div>
						<div class="col-md-1">
						<img src="./images/certiprof-large.png"/>
						</div>
						<div class="col-md-2">
							&nbsp;
						</div>
				    </div>    
				</div>				
			</div>
		</div>
	</div>
</div>
</body>
</html>